*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

/* loader here  */
.loader {
    border: 16px solid #0a3d62;
    border-radius: 50%;
    border-top: 16px solid #ffffff;
    border-bottom: 16px solid #ffffff;
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 50px auto;
    background-image: url(/assets/images/dev.png);
    background-size: cover;
    background-position: center;
  }
  .loader p{
      transform: translateY(40px);
      font-size: 16px;
      color: #0a3d62;
      padding: 5px 20px;
      position: relative;
  }
  .loader p::after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-color:#ffffff;
      width: 0%;
      height: 100%;
      z-index: -5;
    animation: full 1s linear infinite both;
  }
.loader p::before{
    position: absolute;
    content: '';
    bottom: -7%;
    left: -5%;
    background-color: #0a3d62;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
  @keyframes full {
    0% { width: 0%; }
    100% { width: 100%;}
  }


/* loader ends  */
*::selection{
    background-color: #fff;
    color: #0a3d62;
}
:root{
    --lightBkg : #fff;
    --harmBkgColor:#ffffff;
    --textColorLight:#0a3d62;
    --bkgCol:#0a3d62;
}
html{
    scroll-behavior: smooth;
    font-size: 64.4%;
}
body{
    padding: 10px 20px;
    background-color: var(--bkgCol);
    color: var(--lightBkg);
}
.harmburger{
    background-color: var(--lightBkg);
    width: 50px;
    padding: 10px;
    position: fixed;
    z-index: 320;
    display: block !important;
    top: 15px;
    right: 20px;
    cursor: pointer;
    /* border-radius: ; */
    transition: all 0.25s ease-in;
}
.harmburger:hover{
    background-color: var(--textColorLight);
    transform: rotate(180deg);
    transform-origin: center;
}
.harmburger:hover span{
    background-color: var(--lightBkg);
}
.harmburger span{
    display: block;
    height: 3px;
    width: 30px;
    background-color: var(--textColorLight);
    border-radius: 10px;
}
.harmburger span:nth-child(2){
    margin: 4px 0;
}


header h3,footer h3{
    font-size: 3rem;
    letter-spacing: -5px;
    color: var(--textColorLight);
    text-transform: uppercase;
    position: relative;
    -webkit-text-fill-color: var(--bkgCol); 
    /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--lightBkg);
}
header h3::after{
   position: absolute;
   bottom: 10px;
   left: 0;
   height: 6px;
   content: '';
   width: 5.5%;
   z-index: -3;
  border-radius: 10px;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
.banner,.about{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* display: none; */
}
.mouse{
  position: absolute;
  bottom: -5%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%,-50%);
}
.dev-div{
    height: 200px;
    width: 200px;
}
#newString{
    font-size: 1.5rem;
    display: block;
    text-align: center;
}
.typed-cursor{
    opacity: 0 !important;
}

.mouse img{
    width: 100%;
    height: 100%;
}
.banner h1{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}
.banner h1 span{
    font-weight: bold;
    color: inherit;
}
.banner h1+span{
    text-align: center;
    font-size: 1.5rem;
    display: block;
}
.text-center{
    text-align: center;
}
.display-3{
    font-size: 3rem;
}
.display-4{
    font-size: 1.8rem;
    margin: 10px 0;
}
.about p span{
    font-weight: bold;
}
.btn{
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 15px 25px;
    color: var(--textColorLight);
    font-weight: bold;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.306);
    position: relative;
    z-index: 5;
    background-color: var(--lightBkg);
}
.btn-resume{
    margin: 30px 0;
}
.btn::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition:  all 0.25s ease-in;
    content: '';
    z-index: -5;
    color: #fff;
}
.btn:hover{
    color: #fff;
    z-index: 10;
    transform: translateY(-2px);
}
.btn:active{
    color: #fff;
    z-index: 10;
    transform: translateY(-0px);
}
.btn:hover::after{
    width: 100%;
    background-color: #0a3d62;
    color: #ffffff;
}

.text-outline{
    -webkit-text-fill-color: var(--bkgCol); 
    /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--lightBkg);
  transition: all 0.25s ease-in;
  font-size: 2rem;
}

.text-outline:hover{
    -webkit-text-fill-color:var(--lightBkg)
}

.projects{
    width: 100%;
    position: relative;
}
.d-none{
    display: none;
}

.projects h3{
    margin: 20px 0;
}
.project-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    color: #0a3d62;
}
.project-toggle h4{
    font-size: 16px;
    cursor: pointer;
}
.project-toggle h4.active{
    background-color: #0a3d62 ;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.card-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
  box-shadow: 1px 2px 5px black;
  cursor: pointer;
  transition: all 0.25s ease-in;
  margin: 10px;
  overflow-y: hidden;
  width: 500px;
  
}

.card:nth-child(even){
    margin-top: 3rem;
}
.link{
    display: inline-block;
    color: inherit;
    text-decoration: underline;
    margin: 1rem 0;
    font-size: 1.5rem;
}
.card:hover{
    transform: translateY(-5px);
}
.card:hover .card-footer{
    /* transform: translate(0); */
    display: block;
}
.card:active .card-footer{
    /* transform: translate(0); */
    display: block;
}
.img-fluid{
    width: 100%;
    height: 100%;
}
.card-body{
    margin: 3rem 0;
  padding: 15px;

}
.card h4{
    font-size: 2rem;
    margin: 1rem 0;
}
.card p{
    font-size: 1.6rem;
}

.card-footer{
    transition: all 0.25s ease-in;
   /* transform: translateY(200px); */
   display: none;
   margin: 10px 0;
   padding: 15px 10px;
}

.card-footer span{
    display: inline-block;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: var(--lightBkg);
    color: var(--textColorLight);
    font-weight: bold;
    margin: 10px;
}

.display-5{
    font-size: 1.5rem;
}
.in-touch ul{
    display: flex;
}
.in-touch li{
    list-style: none;
    margin: 1rem 0;
}
.in-touch a{
    text-decoration: none;
    color: inherit;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.in-touch a span{
    margin: 0 1rem;
}
footer{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-click{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    transform: translateX(-10000px);
    transition: all 0.25s ease-in;
    background-color: #620a1d;
    left: 0;
    z-index: 5;
    background-color: #0A3D62;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%230A3D62'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23859eb1'/%3E%3Cstop offset='1' stop-color='%230A3D62'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.nav-click.display{
    transform: translate(0);
    overflow-y: hidden;
}
.onHarmbugerClick.hide{
    display: none;
}
footer a{
    color: var(--lightBkg);
    text-decoration: none;
}
@media screen and (max-width:1300px){
    .container{
        width: 900px;
    }
    .projects .mouse{
        display: none;
    }
}

@media screen and (max-width:930px){
    .card-group{
        flex-direction: column;
    }
    .in-touch,.projects{
        height: auto;
        width: auto;
        margin: 1rem 0;
    }
    .container{
        width: auto;
    }
    .banner,.about{
        width: 100%;
        height: 100vh;
    }
    .mouse{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width:530px){
    .banner .mouse{
        bottom: 10%;
    }
    .banner div{
        transform: translateY(-60px);
    }
    .about .mouse,.in-touch .mouse{
      display: none;
    }
   .card{
       width: auto;
   }
   .display-3{
       font-size: 2rem;
   }
   .display-4{
       font-size: 1.6rem;
   }
   .display-5{
       font-size: 1.5rem;
   }
   .in-touch{
       margin: 5rem 0;
   }
   .in-touch ul{
       margin: 3rem 0;
   }
}